In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [8]:
food_info = pd.read_csv('Dataquest/Pandas/food_info.csv')
food_info.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NDB_No</th>
      <th>Shrt_Desc</th>
      <th>Water_(g)</th>
      <th>Energ_Kcal</th>
      <th>Protein_(g)</th>
      <th>Lipid_Tot_(g)</th>
      <th>Ash_(g)</th>
      <th>Carbohydrt_(g)</th>
      <th>Fiber_TD_(g)</th>
      <th>Sugar_Tot_(g)</th>
      <th>...</th>
      <th>Vit_A_IU</th>
      <th>Vit_A_RAE</th>
      <th>Vit_E_(mg)</th>
      <th>Vit_D_mcg</th>
      <th>Vit_D_IU</th>
      <th>Vit_K_(mcg)</th>
      <th>FA_Sat_(g)</th>
      <th>FA_Mono_(g)</th>
      <th>FA_Poly_(g)</th>
      <th>Cholestrl_(mg)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1001</td>
      <td>BUTTER WITH SALT</td>
      <td>15.87</td>
      <td>717</td>
      <td>0.85</td>
      <td>81.11</td>
      <td>2.11</td>
      <td>0.06</td>
      <td>0.0</td>
      <td>0.06</td>
      <td>...</td>
      <td>2499.0</td>
      <td>684.0</td>
      <td>2.32</td>
      <td>1.5</td>
      <td>60.0</td>
      <td>7.0</td>
      <td>51.368</td>
      <td>21.021</td>
      <td>3.043</td>
      <td>215.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1002</td>
      <td>BUTTER WHIPPED WITH SALT</td>
      <td>15.87</td>
      <td>717</td>
      <td>0.85</td>
      <td>81.11</td>
      <td>2.11</td>
      <td>0.06</td>
      <td>0.0</td>
      <td>0.06</td>
      <td>...</td>
      <td>2499.0</td>
      <td>684.0</td>
      <td>2.32</td>
      <td>1.5</td>
      <td>60.0</td>
      <td>7.0</td>
      <td>50.489</td>
      <td>23.426</td>
      <td>3.012</td>
      <td>219.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1003</td>
      <td>BUTTER OIL ANHYDROUS</td>
      <td>0.24</td>
      <td>876</td>
      <td>0.28</td>
      <td>99.48</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>...</td>
      <td>3069.0</td>
      <td>840.0</td>
      <td>2.80</td>
      <td>1.8</td>
      <td>73.0</td>
      <td>8.6</td>
      <td>61.924</td>
      <td>28.732</td>
      <td>3.694</td>
      <td>256.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1004</td>
      <td>CHEESE BLUE</td>
      <td>42.41</td>
      <td>353</td>
      <td>21.40</td>
      <td>28.74</td>
      <td>5.11</td>
      <td>2.34</td>
      <td>0.0</td>
      <td>0.50</td>
      <td>...</td>
      <td>721.0</td>
      <td>198.0</td>
      <td>0.25</td>
      <td>0.5</td>
      <td>21.0</td>
      <td>2.4</td>
      <td>18.669</td>
      <td>7.778</td>
      <td>0.800</td>
      <td>75.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1005</td>
      <td>CHEESE BRICK</td>
      <td>41.11</td>
      <td>371</td>
      <td>23.24</td>
      <td>29.68</td>
      <td>3.18</td>
      <td>2.79</td>
      <td>0.0</td>
      <td>0.51</td>
      <td>...</td>
      <td>1080.0</td>
      <td>292.0</td>
      <td>0.26</td>
      <td>0.5</td>
      <td>22.0</td>
      <td>2.5</td>
      <td>18.764</td>
      <td>8.598</td>
      <td>0.784</td>
      <td>94.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 36 columns</p>
</div>

In [9]:
first_twenty = food_info.iloc[:20]
hundreth_row = food_info.iloc[99]

In [11]:
food_info.dtypes

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

In [12]:
last_rows = food_info.iloc[-5:]

In [17]:
saturated_fat = food_info['FA_Sat_(g)']
cholesterol = food_info['Cholestrl_(mg)']
selenium_thiamin = food_info[['Selenium_(mcg)', 'Thiamin_(mg)']]

In [18]:
gram_columns = [item for item in food_info.columns.tolist() if item.endswith("(g)")]
gram_df = food_info[gram_columns]
gram_df.head(3)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Water_(g)</th>
      <th>Protein_(g)</th>
      <th>Lipid_Tot_(g)</th>
      <th>Ash_(g)</th>
      <th>Carbohydrt_(g)</th>
      <th>Fiber_TD_(g)</th>
      <th>Sugar_Tot_(g)</th>
      <th>FA_Sat_(g)</th>
      <th>FA_Mono_(g)</th>
      <th>FA_Poly_(g)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>15.87</td>
      <td>0.85</td>
      <td>81.11</td>
      <td>2.11</td>
      <td>0.06</td>
      <td>0.0</td>
      <td>0.06</td>
      <td>51.368</td>
      <td>21.021</td>
      <td>3.043</td>
    </tr>
    <tr>
      <th>1</th>
      <td>15.87</td>
      <td>0.85</td>
      <td>81.11</td>
      <td>2.11</td>
      <td>0.06</td>
      <td>0.0</td>
      <td>0.06</td>
      <td>50.489</td>
      <td>23.426</td>
      <td>3.012</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.24</td>
      <td>0.28</td>
      <td>99.48</td>
      <td>0.00</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>61.924</td>
      <td>28.732</td>
      <td>3.694</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
gram_columns

['Water_(g)',
 'Protein_(g)',
 'Lipid_Tot_(g)',
 'Ash_(g)',
 'Carbohydrt_(g)',
 'Fiber_TD_(g)',
 'Sugar_Tot_(g)',
 'FA_Sat_(g)',
 'FA_Mono_(g)',
 'FA_Poly_(g)']